*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0,0.2);
  z-index: 1;
  height: 8%;
}
.sidebar{
position: fixed;
z-index: 999;
top: 0;
right: 0;
height: 30%;
width: 100%;
background-color: rgba(255, 255, 255);
display: none;
flex-direction: column;
align-items: center;
padding-bottom: 10px;
box-shadow: -10px 0 10px rgba(0, 0, 0,0.2) ;
}

.navv p {
  width: 100%;
  padding-top: 8px;
  cursor: pointer;
}

.navv p i {
 display: flex;
 justify-content: flex-end;
}
.navv p a{
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  color: #BF7506;

}
.hide{
  display: flex;
}
.hideOnMobile{
  display: flex;
}
.nav{
    display: flex;
    justify-content: center;
padding-top: 1.2%; 
 }
  .nav p {
    padding-right: 6%;
    cursor: pointer;
  }
  .nav p a{
    cursor: pointer;
    text-decoration: none;
    color: #BF7506;

  }


  .par1{
    width: 50%;
    margin-left: 10%;
  }
  .par1 h2{
    font-size: 30px;
  }
  .par1 span{
    color: #BF7506;
  
  }
  .par1 p{
    font-size: 20px;
  }
.img svg{
  width: 78%;
  height: 78%;
}  

.icon{
  display: grid;
  grid-template-columns: repeat(2,1fr);
margin-top: 10px;}
.icons .bxl-linkedin{
  color: #376DCF;
  margin-left: 6%;
  font-size: 20px;
  cursor: pointer;
}
.icons .bxl-twitter{
  color: #55ACEE;
  margin-left: 6%;
  font-size: 20px;
  cursor: pointer;
}
.icons .bxl-github{
  color: #0f0f0f;
  margin-left: 6%;
  font-size: 20px;
  cursor: pointer;
}
.icons .bxl-stack-overflow{
  color: #BF7506;
  margin-left: 6%;
  font-size: 20px;
  cursor: pointer;
  /* margin-right: 30%; */
}
.container{
  display: flex;
}
.par1{
margin-top: 10%;
}
.cv button span{
  color: #333333;
}
.cv button {
  border: none;
  border-bottom:2px solid #BF7506;
  padding: 6px;
  background-color: transparent;
cursor: pointer;
font-weight: bolder;
font-size: 15px;
}
/* projects */
.projects h2{
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #BF7506;
}
.container2{
display: flex;
/* flex-wrap: wrap; */
}
h3{
  color: #BF7506;
}
.buttons button{
  background: transparent;
  border: 1px solid #BF7506;
  border-radius: 4px;
  padding: 4px;
  margin: 12px 6px;
}
.image1 h3{
  margin-left: 10px;
}
.image1 p{
font-size: 17px;
width: 84%;
margin-left: 10px;
margin-bottom: 10px;
}
.image1 img{
width: 90%;
height: 59%;
}
.codes button{
  border: none;
  border-bottom: 2px solid #BF7506 ;
  background: transparent;
margin-right: 3%;
margin-left: 10px;
}
.buttons button{
  background: transparent;
  border: 1px solid #BF7506;
  border-radius: 4px;
  padding: 4px;
  margin-right: 6px;
}
.image2 h3{
  margin-left: 10px;
}
.image2 p{
  font-size: 17px;
  width: 78%;
  margin-left: 10px;
}
.image2 img{
  width: 80%;
  height: 59%;
  }

  /* about me */

  .about_me{
    display: flex;
    /* margin-top: 10%; */
margin-left: 20%;
}
  .about_me img{
width: 25%;
border-radius: 17px;
margin-right: 10%;

  }
.about h4{
font-size: 24px;
margin-top: 20px;
  }
  .about h2{
    color: #BF7506;
    font-size: 32px;
    margin: 6px 0;
      }
.about p{
  font-size: 18px;
  width: 67%;
  margin: 6px 0;

}
.about span p{
  color: #BF7506;
  font-size: 24px;
}

/* skills */
.skills{
  margin-left: 21%;
}
.skills h4{
  margin: 20px 0;
  font-size: 24px;
}
.experience button{
background: transparent;
border: 1px solid #BF7506;
border-radius: 3px;
margin-right: 7px;
padding: 3px 6px;
}

/* blogs */
.blogs{
  margin-bottom: 14%;
}
.blogs h2{
  font-weight: bold;
  font-size: 35px;
  color: #BF7506;
  margin-left: 20%;
  margin-top: 6%;
  margin-bottom: 3%;
}
.blog2{
  box-shadow: 10px 10px rgba(0, 0, 0,0.2);
  width: 74%;
height: 55%;
cursor: pointer;
}
.blog2 h4 a {
  color: black;
  text-decoration: none;
  /* margin-left: 20px; */
}
.blog2 .feedback{
margin-left: 30%;
}
.blog2 img{
  width: 100%;
}

.blog3{
  box-shadow: 10px 10px rgba(0, 0, 0,0.2);
  width: 74%;
height: 55%;
cursor: pointer;
}
.blog3 h4 a{
  color: #0f0f0f;
  text-decoration: none;
  /* margin-left: 30%; */
}
.blog3 .feedback{
margin-left: 30%;
}
.blog3 img{
  width: 100%;
  height: 68%;
}

.blog4{
  box-shadow: 10px 10px rgba(0, 0, 0,0.2);
  width: 74%;
height: 55%;
cursor: pointer;
}
.blog4 h4 a{
  /* margin-left: 30%; */
  text-decoration: none;
  color: #0f0f0f;
}
.blog4 .feedback{
margin-left: 30%;
}
.blog4 img{
  width: 100%;
  height: 68%;
}

.blogs_list{
  display: grid;
grid-template-columns: repeat(3,1fr);
margin-left: 18%;
}
 .feedback{
  display: flex;
  justify-content: center;
  margin-right: 40%;
  margin-top: 5%;
}
.feedback i{
  font-size: 30px;
  color: #545454;
  margin-left: 20px;
  margin-right: 10px;
}
.feedback p{
  margin-top: 4px;
  margin-left: 6px;
}


/* slider */
.prev,
.next {
    position: absolute;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.blogs .prev {
    left: 10px;
    margin-top: 7%;
}

.blogs .next {
    right: 10px;
    margin-top: 7%;

}
#wrapper{
  max-width: 1200px;
}
#carousel > div{
  width: calc(100 / 3);
  /* height: 340px; */
}

/* contact */
.contact h4{
  font-size: 32px;
  margin-left: 0%;
}
.contact{
  margin-left: 30%;
  margin-top: -10%;
}
.contact input{
  width: 40%;
padding:12px 32px ;   
background: transparent;
  border-radius: 6px;
  border: 2px solid #c7c7c7;
  margin: 20px 10px 0px 0;
}
.contact textarea{
  width: 40%;
  padding:12px 42px ;   
  background: transparent;
  border-radius: 6px;
  border: 2px solid #c7c7c7;
  margin: 20px 10px 0px 0;
}
.contact button{
  border: none;
  border-bottom: 2px solid #BF7506;
background: transparent;
cursor: pointer;
margin: 10px ;
margin-left: 32%;
}
.input-group span{
  color: red;
}
.input-group span i{
  color: seagreen;
}
#submit-error{
  color: red;
}
.error{
  color: red;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6%;
}

swiper-slide img {
  display: block;
  object-fit: cover;
}

swiper-container{
  margin-left: 16%;
}






/* responsiveness */

@media screen and (min-width:220px) and (max-width:319px) {
  .hideOnMobile{
   display: none;
  }
  
  .par1{
   margin-left: 15%;
       width: 90%;
 
  }
   .par1 h2{
     font-size: 20px;
   }
   .par1 p{
     font-size: 18px;
   }
   .icon{
     width: 100%;
   }
   .nav p{
 font-size: 15px;
   }
   .img{
     display: none;
   }
   .cv button{
     font-size: 14px;
    }
    .projects {
     margin-left: 18%;
   }
    .projects h2{
     font-size: 24px;
     margin-left: 1%;
   }
 
   .container2{
     flex-wrap: wrap;
     }
     .image1{
       margin-bottom: 23%;
     }
     .image1 img{
 width: 94%;
     }
     .image1 h3{
      font-size: 16px;
     }
     .image1 p{
       width: 88%;
     } 
     .image2 img{
       width:94%;
           }
           .image2 h3{
            font-size: 16px;
           }     
           .image2 p{
             width: 88%;
           } 
     .about_me{
       flex-wrap: wrap;
       margin-top: 20%;
       margin-left: 18%;
      }
      .about_me img{
       width: 80%;
      }
      .about h4{
       font-size: 18px; 
        }
        .about h2{
         font-size: 22px;  
          }
          .about span p{
           font-size: 18px;  
            }
          .about p{
           font-size: 15px;  
           width: 90%;
          } 
          .skills{
           margin-left:10%;
          }
          .skills h4{
           font-size: 16px;
           margin-left: 10%;
          }
          .blogs h2{
           font-size: 30px;
          }
          .experience{
           margin-left: 10%;
          }
          .experience button{
           margin-top: 6px;
          }
       .feedback i{
         font-size: 24px;
       }
        
       .blogs_list{
         margin-left: 10px;
       }
       swiper-container{
        margin-left: 10px;
      }
          .blog2{
           width: 220px;
         height: 220px;
         margin-bottom: 20px;
         }
       
         
         .blog3{
          width: 220px;
          height: 220px;
         margin-bottom: 20px;
         }
         .blog3 img{
           height: 74%;
         }
          
         .blog4{
          width: 220px;
         height: 220px;
         margin-bottom: 20px;
         }
         #carousel > div{
          width: calc(100 / 1);
        }
         .contact{
           margin-top: 10%;
           margin-left: 19%;
         }
         .contact h4{
           font-size: 24px;
         }
         .contact input{
           width: 80%;
 padding: 8px;     
    }
         .contact textarea{
           width: 80%;
           padding: 8px;  
                 }
         .contact button{
           margin-left: 63%;
         }
     .blogs_list{
       display: grid;
     grid-template-columns: repeat(1,0.4fr);
     margin-left: 18%;
     }
 
 }
@media screen and (min-width:320px) and (max-width:499px) {
 .hideOnMobile{
  display: none;
 }
 
 .par1{
  margin-left: 15%;
      width: 72%;

 }
  .par1 h2{
    font-size: 20px;
  }
  .par1 p{
    font-size: 18px;
  }
  .icon{
    width: 100%;
  }
  .nav p{
font-size: 15px;
  }
  .img{
    display: none;
  }
  .cv button{
    font-size: 14px;
   }
   .projects {
    margin-left: 15%;
  }
   .projects h2{
    font-size: 24px;
    margin-left: 1%;
  }

  .container2{
    flex-wrap: wrap;
    }
    .image1{
      margin-bottom: 13%;
    }
    .image1 img{
width: 80%;
    }
    .image1 p{
      width: 78%;
    } 
    .image2 img{
      width: 80%;
          }
          .image2 p{
            width: 78%;
          } 
    .about_me{
      flex-wrap: wrap;
      margin-top: 20%;
      margin-left: 15%;
     }
     .about_me img{
      width: 80%;
      height: 360px;
     }
     .about h4{
      font-size: 18px; 
       }
       .about h2{
        font-size: 22px;  
         }
         .about span p{
          font-size: 18px;  
           }
         .about p{
          font-size: 15px;  
          width: 90%;
         } 
         .skills{
          margin-left:6%;
         }
         .skills h4{
          font-size: 20px;
          margin-left: 10%;
         }
         .blogs h2{
          font-size: 30px;
         }
         .experience{
          margin-left: 10%;
         }
         .experience button{
          margin-top: 6px;
         }
      .feedback i{
        font-size: 24px;
      }
       
      .blogs_list{
        margin-left: 10px;
      }
      swiper-container{
        margin-left: 10px;
      }
         .blog2{
          width: 250px;
        height: 240px;
        margin-bottom: 20px;
        }
      
        
        .blog3{
          width: 250px;
          height: 240px;
        margin-bottom: 20px;
        }
        .blog3 img{
          height: 74%;
        }
         
        .blog4{
          width: 250px;
        height: 240px;
        margin-bottom: 20px;
        }
        #carousel > div{
          width: calc(100 / 2);
        }
        .contact{
          margin-top: 10%;
          margin-left: 15%;
        }
        .contact h4{
          font-size: 24px;
        }
        .contact input{
          width: 75%;
padding: 8px;     
   }
        .contact textarea{
          width: 75%;
          padding: 8px;  
                }
        .contact button{
          margin-left: 63%;
        }
    .blogs_list{
      display: grid;
    grid-template-columns: repeat(1,0.4fr);
    margin-left: 18%;
    }

}
@media screen and (min-width:500px)  and (max-width:599px){
 
.hide{
  display: none;
}
  .img{
    display: none;
  }
  .par1{
margin-left: 20%; 
 }
 .par1 h2{
  font-size: 24px;
 }
 .par1 p{
  font-size: 18px;
 }
 .cv button{
  font-size: 14px;
 }
 .projects{
  margin-left: 8%;
 }
 .projects h2{
  font-size: 30px;
 }
 .image1 h3{
  font-size: 14px;
 }
 .buttons button{
  font-size: 12px;
 }
 .image1 p{
  font-size: 14px;
 }
 .image2 h3{
  font-size: 14px;
 }
 .image2 p{
  font-size: 14px;
 }
 .about_me{
  margin-top: 20%;
  margin-left: 8%;
 }
 .about_me img{
  width: 40%;
  /* height: 80%; */
 }
 .about h4{
  font-size: 18px;  
   }
   .about h2{
    font-size: 22px;  
     }
     .about span p{
      font-size: 18px;  
       }
     .about p{
      font-size: 15px;  
      width: 90%;
     } 
     .skills{
      margin-left:8%;
     }
     .skills h4{
      font-size: 20px;
     }
     .blogs h2{
      font-size: 30px;
      margin-left: 10%;
     }
  
  .blogs_list{
    margin-left: 8%;
  }
  swiper-container{
    margin-left: 7%;
  }
     .blog2{
      width: 85%;
    height: 63%;
    }
    .blog2 img{
      height: 67%;
    }
    .blog2 h4 a{
      font-size: 14px;
      margin-left: 18px;
    }
    .blog3{
      width: 85%;
    height: 63%;
    }
    .blog3 img{
      height: 67%;
    }
    .blog3 h4 a{
      font-size: 14px;
      margin-left: 18px;
    }
    .blog4{
      width: 85%;
    height: 63%;
    }
    .blog4 h4 a{
      font-size: 14px;
      margin-left: 18px;
    }
       
  .feedback i{
    font-size: 17px;
  }
  .feedback p{
    margin-top: 1px;
  }
    .contact{
      margin-left: 10%;
    }
    .contact h4{
      font-size: 24px;
    }
    .contact input{
      width: 65%;
    }
    .contact textarea{
      width: 65%;
    }
    .contact button{
      margin-left: 65%;
    }
}

@media screen and (min-width:600px) and (max-width:699px) {
  .hide{
    display: none;
  }
  .par1 h2{
    font-size: 24px;
  }
  .par1 p{
    font-size: 18px;
  }
  .img{
    display: none;
  }
  .par1{
margin-left: 20%; 
 }
 .projects{
  margin-left: 10%;
 }
 .about_me{
  margin-top: 20%;
  margin-left: 6%;
 }
 .about_me img{
  width: 40%;
  height: 360px;
 }
 .about h4{
  font-size: 20px;  
   }
   .about h2{
    font-size: 26px;  
     }
     .about span p{
      font-size: 20px;  
       }
     .about p{
      font-size: 15px;  
      width: 90%;
     } 
     .skills{
      margin-left:6%;
     }
  .feedback i{
    font-size: 20px;
  }
  
  .blogs_list{
    margin-left: 10px;
  }
  swiper-container{
    margin-left: 3%;
  }
     .blog2{
      width: 85%;
    height: 60%;
    }
  
    .blog3{
      width: 85%;
    height: 60%;
    }
    .blog3 img{
      height: 62%;
    }
  
    .blog4{
      width: 85%;
    height: 60%;
    }
    .contact{
      margin-left: 16%;
    }
    .contact h4{
      margin-bottom: 20px;
    }
    .contact input{
      width: 60%;
    }
    .contact textarea{
      width: 60%;
    }
    .contact button{
      margin-left: 50%;
    }
}

@media screen and (min-width:700px) and (max-width:813px) {
  .hide{
    display: none;
  }
  .par1 p{
    font-size: 20px;
    width: 350px;
  }
  .about_me{
    margin-left: 16%;
    margin-top: 10%;
   }
  .about_me img{
    width: 40%;
    height: 350px;
   }
   .about h4{
font-size: 20px;  
 }
 .about h2{
  font-size: 26px;  
   }
   .about span p{
    font-size: 20px;  
     }
   .about p{
    font-size: 15px;  
    width: 90%;
   } 
.feedback i{
  font-size: 20px;
}
.feedback {
  margin-left: 20px;
  margin-top: 10px;
}
swiper-container{
  margin-left: 7%;
}

   .blog2{
    width: 85%;
  height: 60%;
  }

  
  .blog3{
    width: 85%;
  height: 60%;
  }
  .blog3 img{
    height: 63%;
  }
  
  .blog4{
    width: 85%;
  height: 60%;
  }
  
  .contact h4{
    font-size: 28px;
    }
    .contact input{
      width: 70%;
    }
    .contact textarea{
      width: 70%;
    }
    .contact button{
    margin-left: 66%;
    }
}

@media screen and (min-width:820px) and (max-width:1240px) {
  .hide{
    display: none;
  }
 .image1 img{
height: 60%;
 }
 .about_me{
  margin-left: 17%;
 }
 .about_me img{
  width: 40%;
  height: 390px;
 }
 
 .about p{
  width: 90%;
 }
 .blog2{
  width: 85%;
height: 60%;
}


.blog3{
  width: 85%;
height: 60%;
}

.blog4{
  width: 85%;
height: 60%;
}
.about_me{
  margin-top: 10%;
}
.about{
  margin-top: 20px;
}
.contact h4{
font-size: 28px;
}
.contact input{
  width: 55%;
}
.contact textarea{
  width: 55%;
}
.contact button{
margin-left: 46%;
}
}
@media screen and (min-width:1240px) {
  .hide{
    display: none;
  }
}