*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0,0.2);
  z-index: 1;
  height: 8%;
}
.sidebar{
position: fixed;
z-index: 999;
top: 0;
right: 0;
height: 30%;
width: 100%;
background-color: rgba(255, 255, 255, 0.322);
display: none;
flex-direction: column;
align-items: center;
box-shadow: -10px 0 10px rgba(0, 0, 0,0.2) ;
}

.navv p {
  width: 100%;
  cursor: pointer;
}
.navv p i {
 display: flex;
 justify-content: flex-end;
}
.navv p a{
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  color: #BF7506;

}
.hide{
  display: flex;
}
.hideOnMobile{
  display: flex;
}

.nav{
    display: flex;
    justify-content: center;
padding-top: 1.2%; 
 }
  .nav p {
    padding-right: 6%;
    cursor: pointer;
  }
  .nav p a{
    cursor: pointer;
    text-decoration: none;
    color: #BF7506;

  }
.blog3_bg h2 span{
    color: #BF7506;
}
.blog3_bg h2{
  margin-top: 8%;
    margin-left: 10%;
    font-weight: bold;
    font-size: 35px;
}

.part1 img{
    width: 38%;
    height: 400px;
    box-shadow:10px 10px rgb(0, 0, 0,0.2);
    }
.part1 p{
    margin-top: 4%;
    /* margin-left: 4%; */
width: 40%;
float: right;
}

.par p{
    width: 80%;
    margin-top: 3%;
    margin-left: 9%;
}
.comments{
    display: flex;
    border-radius: 10px;
    box-shadow:10px 10px rgb(0, 0, 0,0.2);
    width: 16%;
    margin-bottom: 2%;
    height: 8%;
    margin:2% 9% ;
}
.comments i{
font-size: 30px;
margin-top: 16px;
margin: 16px 10px 0 10px;
}

/* feedback */
.feedback{
    margin-left: 10%;
    margin-top: 4%;
}
.feedback1 input{
    width: 30%;
padding:12px 12px ;   
 background: transparent;
    border-radius: 6px;
    border: 2px solid #BF7506;
    margin: 10px 10px 10px 0;
}
.feedback2 textarea{
    width: 30%;
    padding:12px 22px ;   
    background: transparent;
    border-radius: 6px;
    border: 2px solid #BF7506;
    margin: 10px 10px 10px 0;
}
.feedback button{
    border: none;
    border-bottom: 2px solid #BF7506;
background: transparent;
cursor: pointer;
margin: 10px ;
margin-left: 28%;
}


/* responsiveness */
@media screen and (min-width:200px) and (max-width:399px) {
  .hideOnMobile{
    display: none;
  }
  .blog3_bg h2{
    margin-top: 20%;
    font-size: 23px;
  }
  .hide{
    display: flex;
  }
  
  .part1 img{
      width: 60%;
      height: 260px;
  }
  .part1 p {
  margin-top: 4%;
  margin-left: 10%;
  width: 77%;
  float: none;
}
.comments {
  width: 200px;
  height: 50px;
  margin-bottom: 10px;
} 
.comments i{
font-size: 23px;
margin-top: 8px;
} 
.feedback1 input{
width: 50%;
padding: 6px;
}
.feedback2 textarea{
width: 62%;
padding: 6px;

}
.feedback button{
margin-left: 51%;
}
}
@media screen and (min-width:400px) and (max-width:499px) {
  .hideOnMobile{
    display: none;
  }
  .blog3_bg h2{
    margin-top: 20%;
    font-size: 23px;
  }
  .hide{
    display: flex;
  }
 
  .part1 img{
      width: 60%;
      height: 290px;
  }
  .part1 p {
  margin-top: 4%;
  margin-left: 10%;
  width: 77%;
  float: none;
}
.comments {
  width: 200px;
  height: 50px;
  margin-bottom: 10px;
} 
.comments i{
font-size: 23px;
margin-top: 8px;
} 
.feedback1 input{
width: 50%;
padding: 6px;
}
.feedback2 textarea{
width: 62%;
padding: 6px;

}
.feedback button{
margin-left: 51%;
}
}
@media screen and (min-width:500px) and (max-width:659px) {
  .hide{
    display: none;
  }
  .blog3_bg h2{
    margin-top: 12%;
  }
  .part1 img{
      width: 60%;
      height: 300px;
      margin-left: 10%;
  }
  .part1 p{
  margin-top: 4%;
  margin-left: 10%;
  width: 77%;
  float: none;
  font-size: 17px;
}
.par p{
  font-size: 17px;
}
.comments {
  width: 210px;
  height: 50px;
} 
.comments i{
font-size: 23px;
margin-top: 8px;
} 
.feedback1 input{
width: 50%;
}
.feedback2 textarea{
width: 62%;
}
.feedback button{
margin-left: 51%;
}
}
@media screen and (min-width:660px) and (max-width:709px) {
  .part1 img{
    width: 60%;
    height: 300px;
    margin-left: 10%;
}
.part1 p{
margin-top: 4%;
margin-left: 10%;
width: 77%;
float: none;
font-size: 17px;
}
  .comments {
    width: 210px;
    height: 50px;
  } 
 .comments i{
  font-size: 23px;
  margin-top: 8px;
 } 
 .feedback1 input{
  width: 40%;
 }
 .feedback2 textarea{
  width: 48%;
 }
 .feedback button{
  margin-left: 41%;
 }
}

@media screen and (min-width:710px) and (max-width:789px) {
 
  .hide{
    display: none;
  }
  .part1 img{
    height: 280px;
    margin-left: 10%;
  }
  .part1 p{
      font-size: 18px;
margin-top: 10px;  
} 
  .par p{
      font-size: 18px;
      margin-bottom: 10px;
  }
  .comments {
      width: 210px;
      height: 56px;
    } 
   .comments i{
    font-size: 23px;
    margin-top: 8px;
   } 
   .feedback1 input{
    width: 40%;
   }
   .feedback2 textarea{
    width: 48%;
   }
   .feedback button{
    margin-left: 41%;
   }
}
@media screen and (min-width:790px) and (max-width:900px) {
 
  .hide{
    display: none;
  }
  .part1 img{
    height: 280px;
    margin-left: 10%;
  }
  .part1 p{
      font-size: 18px;
margin-top: 10px;  
} 
  .par p{
      font-size: 17px;
      margin-bottom: 10px;
  }
  .hide{
    display: none;
  }
  .comments {
      width: 210px;
      height: 50px;
    } 
   .comments i{
    font-size: 23px;
    margin-top: 8px;
   } 
   .feedback1 input{
    width: 40%;
   }
   .feedback2 textarea{
    width: 48%;
   }
   .feedback button{
    margin-left: 41%;
   }
}
@media screen and (min-width:900px) and (max-width:1207px) {
  .hide{
    display: none;
  }
  .part1 img{
    height: 280px;
    margin-left: 10%;
  }
  .part1 p{
      font-size: 18px;
margin-top: 10px;  
} 
.par p{
  font-size: 18px;
} 
  .comments {
      width: 210px;
      height: 50px;
    } 
   .comments i{
    font-size: 23px;
    margin-top: 8px;
   } 
   .feedback1 input{
    width: 40%;
   }
   .feedback2 textarea{
    width: 48%;
   }
   .feedback button{
    margin-left: 41%;
   }
}
@media screen and (max-width:1517px) {
  .hide{
    display: none;
  }
  .part1 img{
    /* height: 280px; */
    margin-left: 10%;
  }
}